@use 'styles/utils' as *;
@use 'styles/global' as *;

.button {
    font-weight: 600;
    border: rem(1) solid $gray-900;
    font-family: $inter;
    font-size: rem(16);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 em(20);

    .googleIcon {
        margin-right: rem(12);
    }

    &:disabled {
        background-color: $gray-400;
        color: $gray-500;
        border: none
    }

    &:disabled::after {
        content: "Add required information";
        position: absolute;
        bottom: rem(16);
        font-size: rem(13);
        font-weight: 400;
    }
}

.buttonLink {
    @extend .button;
    text-decoration: none;
}

.primary {
    color: white;
    background-color: $gray-900;
}

.secondary {
    color: $gray-900;
    background-color: transparent;
}

.small {
    height: rem(44);
    padding: rem(10) rem(18);
}

.big {
    width: 100%;
    height: rem(48);
}