@use 'styles/utils' as *;
@use 'styles/global' as *;

.subheading {
    margin-bottom: rem(36);
    color: $gray-700;
    font-weight: 400;

    a {
        color: $gray-700;
        font-weight: 400;
    }
}

.bigger {
    font-size: rem(20);
}