@use 'styles/utils' as *;
@use 'styles/global' as *;

.wrapper {
    display: flex;
    gap: rem(8);
    align-items: center;
    margin-bottom: rem(48);

    .square {
        width: rem(16);
        height: rem(16);
        background-color: $gray-900;
    }

    .description {
        text-transform: uppercase;
        font-size: rem(18);
        font-weight: 700;
        color: $gray-900;
    }
}

.smaller {
    margin-bottom: 0;

    .square {
        width: rem(8);
        height: rem(8);
    }

    .description {
        font-size: rem(14);
    }
}