@use 'styles/utils' as *;
@use 'styles/global/' as *;

.wrapper {
    height: rem(80);
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;


    .contentWrapper {
        height: rem(80);
        max-width: rem(1400);
        margin: 0 auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &.background {
        background-color: $beige;

        &:before {
            display: block;
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/assets/paper_texture.png');
            opacity: 38%;
            mix-blend-mode: multiply;
            z-index: 21;
        }
    }

    .logoWrapper {
        height: rem(46);
        padding: 0 em(32);
        display: flex;
        gap: rem(48);
        align-items: center;
    }

    .buttonWrapper {
        display: flex;
        justify-content: space-between;
        gap: rem(12);
        margin-right: em(32);
    }
}