@use 'styles/utils' as *;
@use 'styles/global/' as *;

.wrapper {
    height: rem(80);
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .contentWrapper {
        max-width: rem(1400);
        margin: 0 auto;
        width: 100%;
    }

    &.background {
        background-color: $beige;
    }

    .logoWrapper {
        height: rem(46);
        padding: 0 em(32);
        display: flex;
        gap: rem(48);
        align-items: center;
    }

    .buttonWrapper {
        display: flex;
        justify-content: space-between;
        gap: rem(12);
        margin-right: em(32);
    }
}