@use 'styles/utils/' as *;
@use 'styles/global/' as *;

.topWrapper {
    width: 100%;
    margin: rem(52) auto;

}

.search {
    position: absolute;
    top: 50%;
    right: rem(100);
    width: 40%;
}

.top {
    max-width: rem(1420);
    padding: 0 em(96);
    margin: 0 auto;
    overflow: hidden;

    .option {
        width: rem(216);

        * {
            margin-bottom: 0;
        }
    }

    .bookCards {
        position: relative;
        margin-top: rem(40);
        display: flex;
        gap: rem(48);
        transition: .2s;

        .arrow {
            top: 30%;
            right: -30px;
            position: absolute;
            width: rem(56);
            height: rem(56);
            background-color: $gray-900;
            border-radius: 500px;
            box-shadow: 0px 4px 10px rgba(16, 24, 40, 0.15);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .backwardArrow {
            @extend .arrow;
            transform: scale(-1);
            display: none;
        }
    }
}

.heading {
    display: flex;
    align-items: center;
    gap: rem(24);

    >p {
        font-weight: 700;
        font-size: 20px;
        color: $gray-900;
    }
}

.categories {
    max-width: rem(1420);
    padding: 0 em(96);
    margin: rem(64) auto;
    overflow: hidden;

    .genres {
        margin-top: rem(24);
        display: flex;
        flex-wrap: wrap;
        gap: rem(8);
    }

    .all {
        margin-top: rem(64);
        display: flex;
        flex-wrap: wrap;
        gap: rem(40);

        .buttonContainer {
            margin: 0 50%;

            >* {
                white-space: nowrap;
            }
        }


    }
}

.query {
    @extend .categories;

    margin-top: 0;
}

.notFound {
    max-width: rem(757);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto rem(96);

    img {
        mix-blend-mode: multiply;
    }

    .buttonContainer {
        width: fit-content;
    }
}