@use 'styles/utils/' as *;
@use 'styles/global/' as *;


.wrapper {
    height: rem(298);

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(24);

        .buttonContainer {
            width: auto;

            .amount {
                font-weight: 400;
                padding-left: rem(4);
            }
        }

        h1 {
            margin: 0
        }
    }

    .notesContainer {
        display: flex;
        height: rem(234);
        gap: rem(40);

        .empty {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $gray-500;
        }
    }
}