@use 'styles/utils/' as *;
@use 'styles/global/' as *;

.wrapperWhole {
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;

    .noteAddButtons {
        display: flex;
        gap: rem(24);
        padding: rem(32);
    }

    .wrapper {
        width: 100%;
        padding: rem(32);

        display: flex;
        flex-direction: column;
        gap: rem(64);
    }
}