@use 'styles/utils/' as *;
@use 'styles/global/' as *;

.wrapper {
    cursor: pointer;
    width: rem(153);

    &.admin {
        border: 1px solid $gray-900;
        padding: em(40) em(20);
    }

    &.full {
        display: flex;
        gap: rem(16);
        align-items: center;
        min-width: rem(228);
        flex-basis: 30%;

        &.admin {
            flex-basis: 100%;
            width: 100%;
        }

        .info {
            height: fit-content;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .cover {
        width: fit-content;

        img {
            width: rem(153);
            height: rem(233);
            border-radius: rem(8);
        }
    }

    .info {
        height: rem(70);
        display: flex;
        flex-direction: column;
        gap: rem(6);
        margin-top: rem(12);
        justify-content: space-between;

        .series {
            font-weight: 700;
            font-size: rem(14);
            color: $gray-900;
            margin-bottom: rem(4);
        }

        .basicInfo>* {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .basicInfo {
            display: flex;
            flex-direction: column;
            gap: rem(4);
        }

        .title {
            font-weight: 700;
            font-size: rem(18);
            color: $gray-900;
        }

        .replies {
            display: flex;
            align-items: center;
            gap: rem(6);

            img {
                width: rem(16);
                height: rem(16)
            }

            p {
                font-weight: 600;
                font-size: 14px;
            }
        }

        .genres {
            display: flex;
            flex-wrap: wrap;
            gap: rem(4);
            margin-bottom: rem(16);

            .genre {
                padding: em(4) em(8);
                border: 1px solid $gray-700;
                border-radius: rem(500);
                font-weight: 500;
                font-size: rem(14);
                color: $gray-900;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}